.loader {
  background: {
    color: rgba($link_text_color, .1);
    image: image-url('spinner.gif');
    position: center center;
    repeat: no-repeat;
  }
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

